h1 {
    font-size: 500%;
    margin-top: 10%
}

h2 {
    /* boldness (100-900)*/
    font-weight: 550;
}

#login {
    /* future 2 lines possible because of this */
    display: flex;
    /* horizontal alignment */
    justify-content: center;
    /* vertical alignment */
    align-items: center;
    /* arrange children in a column */
    flex-direction: column;

    /* vh works, % doesnt for some reason */
    height: 100vh;
    margin: auto;
    text-align: center;
}

#login h1 {
    /* font-size: clamp(25px, 20vmin, 50px); */
    /* font-size: 200%; */
}

form {
    /* margin-top: ; */
    /* makes all dimensions 2x as big */
    transform: scale(1.5);
}

.createOrJoin {
    aspect-ratio: 4/3;
    width: 50vmax;
    max-height: 100vh;
    max-width: 80vw;
    /* height: 50%; */
    /* background-color: red; */

    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    gap: 1vmax;
}

.choiceButton {
    aspect-ratio: 1/1;
    background-color: rgb(91, 195, 195);
    height: 50%;

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.choiceButton img {
    height: 25%;
    width: 25%;
    margin-top: -5%;
}

.choiceButton h2 {
    font-size: 250%;
}

.git_btn {
    position: fixed;
    aspect-ratio: 1/1;
    right: 3%;
    bottom: 3%;
    height: 16%;
    border: none;
    cursor: pointer;
    /* min-width: 50px;
    min-height: 50px; */
}

@media (max-width: 600px) {
    #login h1 {
        font-size: clamp(25px, 20vmin, 50px);
    }

    .createOrJoin {
        aspect-ratio: 3/4;
        flex-direction: column;
    }
}

@media (max-height: 600px) {
    #login h1 {
        font-size: clamp(25px, 20vmin, 50px);
    }
}
