h1 {
    font-size: 500%;
    margin-top: 10%
}

h2 {
    /* boldness (100-900)*/
    font-weight: 550;
}

#login {
    /* future 2 lines possible because of this */
    display: flex;
    /* horizontal alignment */
    justify-content: center;
    /* vertical alignment */
    align-items: center;
    /* arrange children in a column */
    flex-direction: column;

    /* vh works, % doesnt for some reason */
    height: 100vh;
    margin: auto;
    text-align: center;
}

form {
    /* margin-top: ; */
    /* makes all dimensions 2x as big */
    transform: scale(1.5);
}

.createOrJoin {
    aspect-ratio: 4/3;
    width: 50vmax;
    max-height: 100vh;
    max-width: 100vw;
    /* height: 50%; */
    /* background-color: red; */

    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    gap: 1vmax;
}

.choiceButton {
    aspect-ratio: 1/1;
    background-color: rgb(91, 195, 195);
    height: 50%;

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.choiceButton img {
    height: 25%;
    width: 25%;
    margin-top: -5%;
}

.choiceButton h2 {
    font-size: 250%;
}

.git_btn {
    position: fixed;
    top: 82%;
    left: 91%;
    height: 16%;
    width: 8%;
    background-image: url('../Images/github-mark.png');
    background-position: 50% 50%;
    background-size: 75%;
    background-repeat: no-repeat;
    border: none;
    background-color: white;
    cursor: pointer;
}
