html,
body,
#root,
.App{
  height: 100vh;
  width: 100vw;
  overflow: hidden;
}

.tableBackground {
  display: flex;
  flex-direction: column;
  justify-content: center; /* main axis */
  align-items: center; /* cross axis (perpendicular to main) */
  height: 100vh;
  width: 100vw;
  background: #2D3436;
}

.table {
  width: 90vmin;
  background: radial-gradient(rgb(0, 190, 73), black);
  /*border-width, style, and color */
  border: 10px solid black;
  border-radius: 110%;
  aspect-ratio: 16/9;
  position: absolute;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
}

.seat {
  width: 20%;
  aspect-ratio: 2/1;
  /* height: 12%; */
  /* doesnt move when scrolled */
  position: absolute;
  /* text-align: center; */
}

.seatCheese {
  background-color: paleturquoise;
  border: 5px solid black;
  border-radius: 5%;
  position: absolute;
  width: 100%;
  height: 100%;
}

.nameAndChips {
  height: 100%;
  width: 100%;
  /* margin-top: 50%; */
  display: flex;
  flex-direction: column;
  justify-content:center;
  align-items: center;
  /* 2% of minimum of view height and width */
  font-size: 1.5vmin;
  position: absolute;
}

.button {
  /* relative to nearest ancestor */
  position: absolute;
  top: 65%;
  left: 80%;
  width: 20%;
  /* height: 5vmin; */
}

.bet {
  position: absolute;
  color: white;
  /* width: 5vmin;
  height: 5vmin;
  border-radius: 50%;
  background-color: white; */
  font-size: 1.5vmin;
}

.card {
  position: absolute;
  left: 20%;
  top: -75%;
  /* height will be auto */
  width: 50%;
  border: 1px solid black;
}

.joinButton {
  /* relative to nearest ancestor */
  position: absolute;
  left: 15%;
  top: 17.5%;
  height: 75%;
  /* width: 100%; */
  aspect-ratio: 2/1;
}

.buttonsAndSlider {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 25%;
  width: 25%;

  position: fixed;
  right: 3%;
  bottom: -10%;
}

.actionButtons {
  display: flex;
  flex-direction: row;
  justify-content: space-between; /* main axis */
  height: 80%;
  aspect-ratio: 2/1;
  /* width: 20%; */

  /* position: fixed;
  right: 5%;
  bottom: -5%; */
}

.actionButton {
  width: 30%;
  height: 40%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  /* background-color: rgb(11, 69, 42); */
  /* border: 5px solid black; */
  border-radius: 25%;
  font-size: 1.5vmin;
}

.sliderAndBentry {
  width: 100%;
  height: 10%;
  
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

/* stolen from https://stackoverflow.com/questions/18389224/how-to-style-html5-range-input-to-have-different-color-before-and-after-slider*/
.slider {
  overflow: hidden;
  width: 80%;
  height: 100%;
  -webkit-appearance: none;
  appearance: none;
}
/* track that slider is on */
.slider::-webkit-slider-runnable-track {
  -webkit-appearance: none;
}
/* thing that gets slid */
.slider::-webkit-slider-thumb {
  width: 5%;
  -webkit-appearance: none;
  height: 500px;
  background: black;
  box-shadow: -100vw 0 0 100vw rgb(228, 136, 38);
}

.bentry {
  width: 15%;
  height: 100%;
  font-size: 2vmin;
}

.commCard {
  position: absolute;
  /* height will be auto */
  width: 10%;
  border: 1px solid black;
  aspect-ratio: 118/179;
}

.potWrap {
  position: absolute;
  /* height will be auto */
  width: 20%;
  display: flex;
  justify-content: center;
  align-items: center;
  left: 40%;
  top: 60%;
}

.pot {
  color: white;
  font-size: 2vmin;
  font-weight: 500;
}

.sparkle {
  position: absolute;
  top: -75%;
  left: -5%;
  width: 110%;
  z-index: 1;
}

.sitOutButton {
  width: 7.5%;
  height: 8%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: rgb(66, 85, 204);
  /* border: 5px solid black; */
  border-radius: 25%;
  font-size: 2vmin;

  position: fixed;
  left: 2%;
  bottom: 3%;
}
